.home
{
  /* Start Banner */
  .banner
  {
    display: flex;
    align-items: center;
    background: linear-gradient(
      to bottom,
      rgba(0,0,0, 0.5),
      rgba(0,0,0, 0.5)
    ),url('../../../../assets/imgs/banner.jpg');
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .content
    {
      max-width: 500px;
      h1
      {
        color: #fff;
        font-size: 30px;
      }
      p
      {
        color: #fff;
        font-size: 20px;
        line-height: 1.7;
        font-weight: 100;
      }
    }
    .filter
    {
      .sale
      {
        button
        {
          width: 120px;
          height: 50px;
          border: none;
          color: #fff;
          background-color: #343744;
        }
        button.active
        {
          background-color: #88B4DF;
        }
        button:first-child
        {
          border-radius: 5px 0 0 0;
        }
        button:last-child
        {
          border-radius: 0 5px 0 0;
        }
      }
      .filter_form
      {
        background-color: #343744de;
        padding: 30px 30px 20px;
        .row
        {
          align-items: center;
        }
        .txt_in
        {
          input, select
          {
            height: 45px;
          }
        }
        .txt_in.has-search
        {
          input
          {
            padding-left: 2.375rem;
          }
          .form-control-feedback
          {
            position: absolute;
            z-index: 2;
            display: block;
            width: 2.375rem;
            height: 2.375rem;
            line-height: 2.9rem;
            text-align: center;
            pointer-events: none;
            color: #707070;
          }
        }
        button
        {
          width: 100%;
          height: 45px;
          background-color: #88B4DF;
          border-radius: 5px;
          border: none;
          color: #fff;
        }
        span, i
        {
          color: #fff;
          font-size: 20px;
          font-weight: 500;
        }
        i.slid
        {
          transform: rotateZ(90deg);
        }
      }
    }
  }

  @media only screen and (max-width: 600px) {
    .banner
    {
      .content
      {
        h1
        {
          font-size: 22px;
        }
        p
        {
          font-size: 14px;
          line-height: 1.4;
        }
      }
    }
  }
  /* End Banner */

  /* Start Offer */
  .offer
  {
    padding: 40px 0;
  }
  /* End Offer */

  /* Start Deals */
  .deals
  {
    padding: 30px 0;
    background-image: url('../../../../assets/imgs/deals.png');
    background-size: cover;
    background-position: center;
    .title
    {
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    button
    {
      width: 200px;
      height: 50px;
      background-color: #88B4DF;
      border: none;
      border-radius: 5px;
      color: #fff;
    }
  }
  /* End Deals */

  /* Start Latest */
  .latest
  {
    padding: 40px 0;
    .title
    {
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 20px;
    }
  }
  /* End Latest */

  /* Start Partners */
  .partners
  {
    background: linear-gradient(
      to bottom,
      rgba(0,0,0, 0.5),
      rgba(0,0,0, 0.5)
    ),url('../../../../assets/imgs/banner.jpg');
    // height: 500px;
    padding: 60px 0 80px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .title
    {
      font-size: 25px;
      font-weight: 500;
      margin-bottom: 30px;
      color: #fff;
    }
    .part_item
    {
      height: 150px;
      padding: 20px;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 4px;
      img
      {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  /* End Partners */

}
