<div class="home">

  <!-- Start Banner -->
  <div class="banner">
    <div class="container">
      <div class="content">
        <h1>Booking Real Estate</h1>
        <p>
          Lorem Ipsum has been the industry's standard dummy
          text ever since the 1500s, when an unknown
        </p>
      </div>
      <div class="filter">
        <div class="sale">
          <button class="active">Sale</button>
          <button>For Rent</button>
        </div>
        <div class="filter_form">
          <div class="row">
            <div class="col-lg-5 p-0 pr-2 mb-2">
              <div class="txt_in has-search">
                <span class="fa fa-search form-control-feedback"></span>
                <input type="text" placeholder="price, location" class="form-control">
              </div>
            </div>
            <div class="col-lg-2 col-md-6 p-0 pr-2 mb-2">
              <div class="txt_in">
                <select class="form-control">
                  <option value="test">Test</option>
                  <option value="test">Test</option>
                  <option value="test">Test</option>
                </select>
              </div>
            </div>
            <div class="col-lg-2 col-md-6 p-0 pr-2 mb-2">
              <div class="txt_in">
                <select class="form-control">
                  <option value="test">Test</option>
                  <option value="test">Test</option>
                  <option value="test">Test</option>
                </select>
              </div>
            </div>
            <div class="col-lg-2 col-6 p-0 pr-2 mb-2">
              <button>Search</button>
            </div>
            <div class="col-lg-1 col-6 text-right p-0 mb-2">
              <span><i class="fa fa-sliders slid"></i> Filter</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Banner -->

  <!-- Start Offer -->
  <div class="offer">
    <div class="container">
      <img src="assets/imgs/offer.png" width="100%">
    </div>
  </div>
  <!-- End Offer -->

  <!-- Start Deals -->
  <div class="deals">
    <div class="container">
      <h2 class="title">Best deals</h2>
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide *ngFor="let item of items">
          <app-item-box2 [item]="item"></app-item-box2>
        </ng-template>
      </owl-carousel-o>

      <div class="more mt-5 text-center">
        <button>See More</button>
      </div>
    </div>
  </div>
  <!-- End Deals -->

  <!-- Start Latest -->
  <div class="latest">
    <div class="container">
      <h3 class="title">The latest real estate</h3>
      <div class="row">
        <div class="col-md-4 col-sm-6" *ngFor="let item of items">
          <app-item-box [item]="item"></app-item-box>
        </div>
      </div>
    </div>
  </div>
  <!-- End Latest -->

  <!-- Start Partners -->
  <div class="partners">
    <div class="container">
      <h3 class="title">Our partners</h3>
      <owl-carousel-o [options]="partnerOptions">
        <ng-template carouselSlide>
          <div class="part_item">
            <img src="assets/imgs/partner.png">
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="part_item">
            <img src="assets/imgs/partner.png">
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="part_item">
            <img src="assets/imgs/partner.png">
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="part_item">
            <img src="assets/imgs/partner.png">
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="part_item">
            <img src="assets/imgs/partner.png">
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="part_item">
            <img src="assets/imgs/partner.png">
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="part_item">
            <img src="assets/imgs/partner.png">
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
  <!-- End Partners -->

</div>
