.card
{
  margin-bottom: 20px;
  visibility: hidden;
  border: none;
  box-shadow: 0 3px 6px #ccc;
  .pic
  {
    background-size: cover;
    background-position: center;
    height: 200px;
    position: relative;
    .left
    {
      position: absolute;
      top: 0;
      left: 0;
      span
      {
        display: inline-block;
        width: 30px;
        height: 30px;
        background-color: #88B4DF;
        color: #fff;
        margin-right: 5px;
        line-height: 30px;
        font-size: 10px;
      }
      span.icon
      {
        font-size: 14px;
      }
    }
    .right
    {
      position: absolute;
      top: 0;
      right: 5px;
      span
      {
        color: #fff;
        font-size: 12px;
        margin: 0 2px;
      }
    }
  }
  .content
  {
    padding: 10px;
    h5
    {
      font-size: 18px;
      color: #F1A24F;
      margin: 0;
      margin-bottom: 5px;
      font-weight: 500;
    }
    h6
    {
      font-size: 22px;
      color: #000;
      margin: 0;
      margin-bottom: 5px;
      font-weight: 500;
    }
    p
    {
      font-size: 12px;
      margin: 0;
      color: #707070;
    }
    .icons
    {
      span
      {
        color: #707070;
        font-size: 14px;
        margin: 0 2px;
      }
      img
      {
        width: 16px;
        display: inline;
        margin: 0 2px;
      }
    }
    .buttons
    {
      margin: 20px 0 10px;
      .row
      {
        margin: 0;
      }
      button
      {
        width: 100%;
        border: none;
        background-color: #E8E8E8;
        color: #6D6D6D;
        border-radius: 3px;
        height: 40px;
        font-size: 13px;
        span.w
        {
          color: #2CB742;
        }
      }
    }
  }
}
.animate__animated
{
  visibility: visible;
}
