<div class="card" animateOnScroll animationName="animate__animated animate__zoomIn">
  <div class="pic" [style.background-image]="'url(' + item?.image + ')'">
    <div class="left text-center">
      <span>5 April</span>
      <span class="fa fa-heart icon"></span>
    </div>
    <div class="right">
      <span>9</span>
      <span class="fa fa-camera"></span>
      <span>1</span>
      <span class="fa fa-video-camera"></span>
    </div>
  </div>
  <div class="content">
    <h5>{{item?.title}}</h5>
    <h6>{{item?.price | number}}</h6>
    <p><span class="fa fa-map-marker"></span> {{item?.address}}</p>
    <div class="icons">
      <span class="fa fa-calendar"></span>
      <span>2023</span>
      <span class="fa fa-expand"></span>
      <span>80</span>
      <!-- <img src="assets/imgs/room.png"> -->
      <img src="assets/imgs/bathb.png">
      <span>1</span>
      <img src="assets/imgs/roomb.png">
      <span>3</span>
    </div>

    <div class="buttons">
      <div class="row">
        <div class="col-6 p-0 pr-1">
          <button><span class="fa fa-phone"></span> Call</button>
        </div>
        <div class="col-6 p-0 pl-1">
          <button><span class="fa fa-whatsapp w"></span> What's Up</button>
        </div>
      </div>
    </div>
  </div>
  <!-- <img src="{{item?.image}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{item?.title}}</h5>
  </div> -->
</div>
