.footer_out
{
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
  background-color: #2B3A7C;
  height: 50px;
  margin-top: -50px;
}
.footer
{
  padding: 40px 0 20px;
  background-color: #2B3A7C;
  margin-top: -1px;
  .about
  {
    p
    {
      color: #fff;
      font-size: 12px;
      opacity: 0.8;
      margin-top: 20px;
    }
    .icons
    {
      margin-bottom: 20px;
      img
      {
        margin-right: 14px;
        width: 25px;
      }
    }
  }
  h6
  {
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
  }
  ul
  {
    li
    {
      color: #fff;
      font-size: 14px;
      opacity: 0.8;
      margin-bottom: 10px;
    }
  }
  .subscribe
  {
    input
    {
      border: none;
      height: 45px;
      width: 66%;
      padding: 8px;
      background-color: #fff;
      margin-right: 2%;
      border-radius: 3px;
    }
    button
    {
      border: none;
      width: 32%;
      height: 45px;
      background-color: #80B5DC;
      color: #fff;
      border-radius: 3px;
    }
  }

  .line
  {
    height: 5px;
    background-color: #80B5DC;
    border-radius: 5px;
    margin: 20px 0;
  }
  .copy
  {
    p
    {
      color: #fff;
      font-size: 14px;
      opacity: 0.8;
      margin: 0;
    }
  }
}
