<div class="footer_out"></div>
<div class="">
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="about">
            <img src="assets/imgs/footer-logo.png" width="150">
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever book
            </p>
            <div class="icons">
              <img src="assets/imgs/face.png">
              <img src="assets/imgs/tweet.png">
              <img src="assets/imgs/youtube.png">
              <img src="assets/imgs/insta.png">
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-6">
          <ul class="list-unstyled">
            <h6>Useful Links</h6>
            <li>Home</li>
            <li>Compounds Guide</li>
            <li>Favorite</li>
            <li>Developers</li>
            <li>Special Offers</li>
            <li>Blog</li>
            <li>Contact Us</li>
          </ul>
        </div>
        <div class="col-lg-2 col-6">
          <ul class="list-unstyled">
            <h6>Other Links</h6>
            <li>Advice</li>
            <li>Terms and Conditions</li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6">
          <ul class="list-unstyled">
            <h6>Subscribe</h6>
            <li>Subscribe to our newsletter</li>
          </ul>
          <div class="subscribe">
            <input type="text" placeholder="Email Address">
            <button>Subscribe</button>
          </div>
          <div class="app mt-3">
            <h6>Download the App</h6>
            <img src="assets/imgs/app-store.png" width="120" class="mr-2">
            <img src="assets/imgs/google-play.png" width="120">
          </div>
        </div>
      </div>

      <div class="line"></div>

      <div class="copy text-center">
        <p>© 2021 Booking Real-Estate. All rights reserved.</p>
      </div>
    </div>
  </div>

</div>
