/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow-x: hidden; }

.deals .owl-carousel .owl-stage-outer
{
  overflow: unset !important;
  clip-path: inset( -100vw -100vw -100vw 0 );
}
