.header
{
  .navbar
  {
    .nav-item
    {
      .nav-link
      {
        color: #000;
        font-weight: 500;
        font-size: 14px;
      }
    }
    .buttons
    {
      .login
      {
        background-color: #88B4DF;
        border-color: #88B4DF;
      }
      .prop
      {
        border-color: #88B4DF;
        color: #88B4DF;
        background-color: #fff;
      }
    }
  }
}
