<div class="header pt-2 pb-2">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand" routerLink="/">
        <img src="assets/imgs/logo.png" width="140">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto">
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <a class="nav-link" routerLink="/">{{"Home" | translate}}</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/about">{{"Compounds Guide" | translate}}</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/about">{{"Developers" | translate}}</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/about">{{"Special offers" | translate}}</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/about">{{"Blog" | translate}}</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/about">{{"Contact us" | translate}}</a>
          </li>
        </ul>

        <div class="buttons ml-auto">
          <a href="#" class="btn btn-primary login">Login <img src="assets/imgs/arrow-bottom.png" width="12"></a>
          <a href="#" class="btn btn-outline-primary prop ml-2">Add Property</a>
        </div>

      </div>
    </div>
  </nav>

</div>
